<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'CardgameDjangoApp/blackjack.css' %}">
        <link href="{% static 'fonts/DejaVuSans.ttf' %}" rel="stylesheet" media="screen">
        <title>BlackJack Game</title>
    </head>
    <body>
        <div class="navbar">
            <div class="navbox">
                <form action="{% url 'index' %}">
                    <button class="button" type="submit" value="index">Home</button>
                </form>
                <form action="{% url 'blackjack' %}">
                    <button class="button" type="submit" value="blackjack">Blackjack</button>
                </form>
                <form action="{% url 'war' %}">
                    <button class="button" type="submit" value="war">War</button>
                </form>
                <form action="{% url 'texasholdem' %}">
                    <button class="button" type="submit" value="texasholdem">Texas Hold 'em</button>
                </form>
            </div>
            <div class="team_name">
                <h1>Cyber Bot Demonz</h1>
            </div>
        </div>
        <h1>Dealer</h1>
        <div id="hit_stand">
            <form>
                <button type="submit" value="hit">Hit</button>
            </form>
            <p>or</p>
            <form>
                <button type="submit" value="stand">Stand</button>
            </form>
        </div>
        <div class="centeringbox">
            <div class="game_space">
                <h1>dealer chips</h1>
                <h1>dealer cards</h1>

                <h1>player cards</h1>
                <h1>{{chips}}</h1>
                <div class="play_chips">
                    <form method="POST">
                        {% csrf_token %}
                        <button name="1_chip" class="chip_1" type="submit" value="1"></button>
                        <button name="5_chip" class="chip_5" type="submit" value="5"></button>
                        <button name="25_chip" class="chip_25" type="submit" value="25"></button>
                        <button name="50_chip" class="chip_50" type="submit" value="50"></button>
                        <button name="100_chip" class="chip_100" type="submit" value="100"></button>
                        <button class="reset" type="submit" value="100">Reset Amount</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="player_chips">
            {{player_chips}}
        </div>
    </body>
</html>