<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'CardgameDjangoApp/blackjack.css' %}">
        <link href="{% static 'fonts/DejaVuSans.ttf' %}" rel="stylesheet" media="screen">
        <title>BlackJack Game</title>
    </head>
    <body>
        <div class="navbar">
            <div class="navbox">
                <form action="{% url 'index' %}">
                    <button class="button" type="submit" value="index">Home</button>
                </form>
                <form action="{% url 'blackjack' %}">
                    <button class="button" type="submit" value="blackjack">Blackjack</button>
                </form>
                <form action="{% url 'war' %}">
                    <button class="button" type="submit" value="war">War</button>
                </form>
                <form action="{% url 'yablon' %}">
                    <button class="button" type="submit" value="yablon">Yablon</button>
                </form>
            </div>
            <div class="team_name">
                <h1>Cyber Bot Demonz</h1>
            </div>
        </div>
    </body>
</html>