@font-face {
    font-family: 'dejavusans';
    src: local('dejavusans'),
        url('../CardgameDjangoApp/fonts/DejaVuSans.ttf') format("truetype");
  }

body{
    margin:0;
    padding:0;
    font-family: dejavusans;
    background-image: url(../CardgameDjangoApp/images/maroonMap.png);
    background-size: cover;
}

html{
    font-family: dejavusans;
}

.navbar{
    display:flex;
    justify-content: space-between;
    height:80px;
}

.navbox{
    display:flex;
}

.navbar .navbox form button{
    border:none;
    padding:none;
    height:80px;
    width:200px;
}

.button {
    transition-duration: 0.4s;
    background-color: rgb(201, 201, 201);
    font-size: x-large;
    font-family: dejavusans;
  }
  
  .button:hover {
    background-color: maroon;
    color: white;
  }

.navbar{
    background-color: rgb(201, 201, 201);
    display:flex;
}

#hit_stand{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.game_space button{
    width:90px;
    height:50px;
    font-size: 25px;
    border-style: none;
    border-radius: 20px;
}

h1{
    display:grid;
    justify-content: center;
    align-content: center;
    margin:0;
}

.centeringbox{
    display:flex;
    justify-content: center;
}

.game_space{
    background-color: rgb(107, 1, 1);
    border-radius: 50%;
    width: 80%;
    height:70vh;
}

.play_chips > form > button {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    font-size: 20px;
    background-color: rgb(107, 1, 1);
}

.play_chips{
    display:grid;
    justify-items: center;
    align-items: center;
}

#hit_stand form button{
    width:50px;
    height:50px;
}

.chip_1{
    background-image: url(../CardgameDjangoApp/images/poker_chips/1-chip.png);
    background-size: 80px 80px;
    position: fixed;
    top: 70%;
    left: 35%;
}

.chip_5{
    background-image: url(../CardgameDjangoApp/images/poker_chips/5-chip.png);
    background-size: 80px 80px;
    position: fixed;
    top: 70%;
    left: 40%;
}

.chip_25{
    background-image: url(../CardgameDjangoApp/images/poker_chips/25-chip.png);
    background-size: 80px 80px; 
    position: fixed;
    top: 70%;
    left: 45%;
}

.chip_50{
    background-image: url(../CardgameDjangoApp/images/poker_chips/50-chip.png);
    background-size: 80px 80px;
    position: fixed;
    top: 70%;
    left: 50%;
}

.chip_100{
    background-image: url(../CardgameDjangoApp/images/poker_chips/100-chip.png);
    background-size: 80px 80px;
    position: fixed;
    top: 70%;
    left: 55%;
}

.reset{
    background-image: url(../CardgameDjangoApp/images/reset\ button.png);
    background-size: 80px 80px;
    position: fixed;
    top: 70%;
    left: 60%;
}

.team_name{
    display:grid;
    align-items: center;
}

.cards{
    width:67px;
    height:120px;
    border-style: solid;
    display: inline-block;
    top: 30%;
    
}

.container{
    display:flex;
    justify-content: center;
}