@font-face {
    font-family: 'dejavusans';
    src: local('dejavusans'),
         url('../static/fonts/DejaVuSans.ttf') format("truetype");
  }

#hit_stand{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

button{
    width:90px;
    height:50px;
    font-size: 25px;
    border-style: none;
    border-radius: 20px;
}


body{
    display:grid;
    justify-content: center;
    font-family: dejavusans;
}

h1{
    display:grid;
    justify-content: center;
    align-content: center;
    margin:0;
}

.game_space{
    background-color: rgb(107, 1, 1);
    border-radius: 30px;
    width: 150%;
    justify-self: center;
}

.play_chips > form > button {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    font-size: 20px;
}

.play_chips{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}