@font-face {
    font-family: 'dejavusans';
    src: local('dejavusans'),
        url('../CardgameDjangoApp/fonts/DejaVuSans.ttf') format("truetype");
  }

body{
    margin:0;
    padding:0;
    font-family: dejavusans;
}

html{
    font-family: dejavusans;
}

.navbar{
    display:flex;
    justify-content: space-between;
    height:80px;
}

.navbox{
    display:flex;
}

.navbar .navbox form button{
    border:none;
    padding:none;
    height:80px;
    width:200px;
}

.button {
    transition-duration: 0.4s;
    background-color: rgb(201, 201, 201);
    font-size: x-large;
    font-family: dejavusans;
  }
  
  .button:hover {
    background-color: maroon;
    color: white;
  }

.navbar{
    background-color: rgb(201, 201, 201);
    display:flex;
}